/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "argestadisplay-regular-webfont";
    src: local("argestadisplay-regular-webfont"), url(./assets/fonts/argestadisplay-regular-webfont.ttf) format("truetype");
}

@font-face {
    font-family: "Caveat";
    src: local("Caveat"), url(./assets/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "AmaticRegular";
    src: local("AmaticSC-Regular"), url(./assets/fonts/AmaticSC-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "AmaticBold";
    src: local("AmaticSC-Bold"), url(./assets/fonts/AmaticSC-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Fenix-Regular";
    src: local("Fenix-Regular"), url(./assets/fonts/Fenix-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Anton-Regular";
    src: local("Anton-Regular"), url(./assets/fonts/Anton-Regular.ttf) format("truetype");
}
