<nav class="navbar navbar-expand-lg primaryColor">
  <div class="container-fluid">
    &nbsp;<a class="navbar-center" href="#"><img src="assets/logos/logo_branco.png" alt=""></a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="primaryColor collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#quem-somos"><span>Quem Somos</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fundador"><span>O FUNDADOR</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicos"><span>Serviços</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Projetos Passados</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#entrar_contato"><span>Contato</span></a>
        </li>
      </ul>     
    </div>
  </div>
</nav>

  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
      <!-- <h1 class="display-3"> ATITUDE!</h1> -->
      <p class="jumbo-text"> O sucesso é mais que aptidão é</p>
      <h1 class="display-3 "> ATITUDE!</h1>
      <!-- <div class="container">
        <p class="jumbo-text">Soluções em Engenharia</p>
        <h1 class="display-3 "> ATITUDE!</h1>
      </div> -->
    </div>
    <!-- sobre o empresário -->
    <div class="container">
      <h2 id="quem-somos" class="text-center">QUEM SOMOS</h2>
      <hr><br>
      <div class="row">        
        <div class="companyInfo col-md-6">
          <h2 class="text-center"><em>ATITUDE!</em></h2> <br>
          <div class="col-md-12">
            <h4 class="">A Atitude é uma empresa 
            no ramo da engenharia elétrica, criada com objetivo de promover soluções energética a 
            sociedade <br> 
            Acesso à energia sustentável infinita com alta tecnologia e baixo custo <br>
            Projetos e execuções nos segmentos, promovendo 
            conforto e segurança aos clientes, tendo o prazer de 
            oferecer nossas soluções a todos <br>
            Surgiu no desejo de ser empreendedor e o amor 
            a profissão!
            No tempo discutíamos sobre o poder de ter atitude, então
            resolvemos dedicar esse nome para a empresa <br>                            
            </h4>   
            <br>
            <h3 class="text-center"><em>O homem com fé e atitude realizará todos seus objetivos!</em></h3>
          </div>      
        </div>
        <div class="companyImage col-md-6">
          <img id="imgCompany" src="assets/logos/0001.png" alt="">
        </div>
      </div>
      <hr><br>
      <h2 id="fundador" class="text-center">O FUNDADOR</h2>
      <hr><br>
      <div class="row">
        <div class="founderImage col-md-6">
          <img id="imgFounder" src="assets/imgs/pp.jpg" alt="">
        </div>
        <div class="founderInfo col-md-6">
          <h3 class="text-center">Flavio Rego</h3> <br>
            <div class="col-md-12">
              <h4>Apaixonado por engenharia desde a infância, sempre buscou compreender o funcionamento dos dispositivos eletrônicos. Após se formar em mecatrônica e engenharia elétrica, ele decidiu seguir o caminho do empreendedorismo. Fundou a ATITUDE SOLUÇÕES EM ENGENHARIA com o objetivo de oferecer soluções energéticas avançadas e acessíveis. Guiado pela determinação e pela crença no poder da atitude, Flávio e sua equipe continuam a inovar e a fornecer soluções de alta qualidade para seus clientes.</h4>
              <h3 class="text-center">Formação</h3>              
              <ul>
                <li><h4>Técnico em mecatrônica </h4></li>
                <li><h4>Bacharel em engenharia elétrica </h4></li>
                <li><h4>Pós-Grraduando em engenharia elétrica </h4></li>
                <li><h4><em>Ênfase em Instalações Residenciais</em></h4></li>
              </ul>
            </div>
        </div>
      </div>
      <hr><br>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <hr><br>
      <h2 id="servicos" class="text-center">SERVIÇOS</h2>
      <hr><br>
      <div class="row row-cols-sm-2 row-cols-md-3">
        <div class="  card service-card" 
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/consultoria_1.jpg')">
          <h2>Subestação Aérea</h2>
          <p>Nossos serviços de subestação aérea garantem uma distribuição eficiente e segura de energia elétrica. Com nossa experiência e conhecimento técnico, projetamos e instalamos subestações aéreas que atendem às necessidades específicas de nossos clientes, garantindo confiabilidade e desempenho.</p>
        </div>
        <div class="  card service-card"
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/energia_solar_foto_1.jpeg')">
          <h2>Energia Solar Fotovoltaico</h2>
          <p>Oferecemos soluções completas em energia solar fotovoltaica, permitindo que nossos clientes aproveitem os benefícios da energia renovável. Desde o projeto até a instalação e manutenção, nossa equipe experiente garante sistemas solares eficientes e econômicos.</p>
        </div>
        <div class=" card service-card"
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/manutencao_de_motor_eletrico_1.png')">
          <h2>Rede Telefonia & Antena</h2>
          <p>Nossos serviços abrangem a instalação e manutenção de redes de telefonia e antenas. Com uma abordagem técnica e meticulosa, garantimos comunicações eficientes e confiáveis para nossos clientes em diversos ambientes e cenários.</p>
        </div>
      <!-- </div>

      <div class="row"> -->
        <div class="  card service-card"
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/projeto_eletrico_1.png')">
          <h2>Projeto Elétrico SPDA</h2>
          <p>O projeto elétrico de sistema de proteção contra descargas atmosféricas (SPDA) é essencial para proteger estruturas e equipamentos contra danos causados por raios. Nossos projetos são elaborados de acordo com as normas técnicas e regulamentações vigentes, garantindo segurança e conformidade.</p>
        </div>
        <div class="  card service-card"
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/energia_solar_foto_2.jpeg')">
          <h2>Projeto Elétrico Baixa Tensão</h2>
          <p>Nossos serviços de projeto elétrico de baixa tensão fornecem soluções sob medida para instalações residenciais, comerciais e industriais. Com foco na eficiência energética e segurança, nossos projetos atendem às necessidades específicas de cada cliente.</p>
        </div>     
        <div class="  card service-card"
        style="background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/imgs/manutencao_de_motor_eletrico_1.png')">
          <h2>Manutenção de Bomba Submersa</h2>
          <p>Oferecemos serviços de manutenção preventiva e corretiva para bombas submersas, garantindo seu funcionamento contínuo e confiável. Nossa equipe qualificada realiza inspeções, reparos e substituições conforme necessário, assegurando o desempenho ideal das bombas.</p>
        </div>         
      </div>
    </div> 

    <div class="container">
      <h2 id="entrar_contato" class="text-center">CONTATO</h2>
      <hr><br>
      <div id="contact-form" class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">
            <h3>Nos envie uma mensagem!</h3>
            <form class="mb-5" method="post" id="contactForm" name="contactForm" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="" class="col-form-label">Nome *</label>
                  <input [(ngModel)]="nome" type="text" class="form-control" name="name" id="name" placeholder="Seu nome">
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="" class="col-form-label">Email *</label>
                  <input [(ngModel)]="email" type="text" class="form-control" name="email" id="email" placeholder="Seu email">
                </div>
              </div>              
              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label for="message" class="col-form-label">Mensagem *</label>
                  <textarea [(ngModel)]="message"  class="form-control" name="message" id="message" cols="30" rows="4" maxlength="500"
                    placeholder="Write your message"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <!-- <input  type="submit" value="Enviar Mensagem" class="btn btn-primary rounded-0 py-2 px-4"> -->
                  <a type="button" style="margin-bottom: 10px; background-color: #25D366;" class="btn" (click)="teste()">Fale Conosco
                    <img id="whats-app-img" src="assets/imgs/Digital_Glyph_White.png" alt="">
                  </a>
                  <span class="submitting"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
  
        <div id="contact-details" class="col-md-4">
          <div class="contact-info h-100">
            <h3>Informações de Contato</h3>
            <p class="mb-5">Do mesmo modo, a hegemonia do ambiente político prepara-nos para enfrentar situações atípicas
              decorrentes do sistema de participação geral.</p>
            <ul class="list-unstyled">
              <li class="d-flex">
                <span class="wrap-icon icon-room mr-3"></span>
                <span class="text">Rua Comadre Ana, s/n, Oeiras-PI</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span class="text">(89) 98808-6104 & (89) 9446-3774</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-envelope mr-3"></span>
                <span class="text">atitude.fr10&#64;gmail.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr><br>
    <br>
  </main>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer class="container primaryColor">
    <a class="footer-icon" href="#"><img src="assets/logos/logo_branco.png" alt=""></a>
    <p>CREA-PI: 1919978461</p>
    <p>E-mail: atitude.fr10&#64;gmail.com</p>
    <p>Endereço: Rua Comadre Ana, s/n, Oeiras-PI</p>
    <p>Telefone: (89) 98808-6104 & (89) 9446-3774</p>
    <div class="social-container">
      <i href="#" class="fa fa-facebook"></i> &nbsp;
      <i href="http://instagram.com/atitud.fr/" class="fa fa-instagram"></i> &nbsp;
      <i href="#" class="fa fa-linkedin"></i> &nbsp;
      <i href="#" class="fa fa-twitter"></i> &nbsp;
      <i href="#" class="fa fa-google"></i> &nbsp;
    </div>
  </footer>
