  <nav class="navbar navbar-expand-md navbar primaryColor fixed-top">
    &nbsp;<a class="navbar-center" href="#"><img src="assets/logos/logo_branco.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="primaryColor navbar " id="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O FUNDADOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projetos Passados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>     
    </div>
  </nav>

  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
      <!-- <h1 class="display-3"> ATITUDE!</h1> -->
      <p class="jumbo-text"> O sucesso é mais que aptidão é</p>
      <h1 class="display-3 "> ATITUDE!</h1>
      <!-- <div class="container">
        <p class="jumbo-text">Soluções em Engenharia</p>
        <h1 class="display-3 "> ATITUDE!</h1>
      </div> -->
    </div>
    <!-- sobre o empresário -->
    <div class="container">
      <h2 class="text-center">QUEM SOMOS</h2>
      <hr><br>
      <div class="row">        
        <div class="companyInfo col-md-6">
          <h2 class="text-center"><em>ATITUDE!</em></h2> <br>
          <div class="col-md-12">
            <h4 class="">A Atitude é uma empresa 
            no ramo da engenharia elétrica, criada com objetivo de promover soluções energética a 
            sociedade <br> 
            Acesso à energia sustentável infinita com alta tecnologia e baixo custo <br>
            Projetos e execuções nos segmentos, promovendo 
            conforto e segurança aos clientes, tendo o prazer de 
            oferecer nossas soluções a todos <br>
            Surgiu no desejo de ser empreendedor e o amor 
            a profissão!
            No tempo discutíamos sobre o poder de ter atitude, então
            resolvemos dedicar esse nome para a empresa <br>                            
            </h4>   
            <br>
            <h3 class="text-center"><em>O homem com fé e atitude realizará todos seus objetivos!</em></h3>
          </div>      
        </div>
        <div class="companyImage col-md-6">
          <img id="imgCompany" src="assets/logos/0001.png" alt="">
        </div>
      </div>
      <hr><br>
      <h2 class="text-center">O FUNDADOR</h2>
      <hr><br>
      <div class="row">
        <div class="founderImage col-md-6">
          <img id="imgFounder" src="assets/imgs/pp.jpg" alt="">
        </div>
        <div class="founderInfo col-md-6">
          <h3 class="text-center">Flavio Rego</h3> <br>
            <div class="col-md-12">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie urna vitae mauris facilisis rutrum. Praesent eget leo lobortis, euismod nibh sed, feugiat orci. Aenean fermentum, nunc id sollicitudin tristique, diam libero congue felis, ac suscipit mauris dui vitae velit. Suspendisse ac ipsum sed massa sollicitudin imperdiet. Sed dui ante, mollis sed dignissim et, accumsan non mi. Sed rhoncus dolor augue, vitae gravida velit vestibulum sed.</h4>
              <h3 class="text-center">Formação</h3>              
              <ul>
                <li><h4>Técnico em mecatrônica </h4></li>
                <li><h4>Bacharel em engenharia elétrica </h4></li>
                <li><h4>Pós-Grraduando em engenharia elétrica </h4></li>
                <li><h4><em>Ênfase em Instalações Residenciais</em></h4></li>
              </ul>
            </div>
        </div>
      </div>
      <hr><br>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 card" 
        style="background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/imgs/consultoria_1.jpg')">
          <h2>Subestção Aérea</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4 card"
        style="background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/imgs/energia_solar_foto_1.jpeg')">
          <h2>Energia Solar Fotovoltaico</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4 card"
        style="background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/imgs/manutencao_de_motor_eletrico_1.png')">
          <h2>Rede Telefonia & Antena</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 card"
        style="background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/imgs/projeto_eletrico_1.png')">
          <h2>Projeto Elétrico SPDA</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4 card"
        style="background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/imgs/projeto_eletrico_1.png')">
          <h2>Projeto Elétrico Baixa Tensão</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>              
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container primaryColor">
    <p>CREA-PI: 1919978461</p>
    <p>E-mail: flavio@gmail.com</p>
    <p>Endereço: uma rua no piaui</p>
    <p>Telefone: (xx) xxxx-xxxx & (xx) xxxxx-xxxx</p>
  </footer>
