  <nav class="navbar navbar-expand-md navbar primaryColor fixed-top">
    &nbsp;<a class="navbar-center" href="#"><img src="assets/logos/logo_branco.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="primaryColor navbar " id="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre a Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projetos Passados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>     
    </div>
  </nav>

  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
      <!-- <h1 class="display-3"> ATITUDE!</h1> -->
      <p class="jumbo-text"> O sucesso é mais que aptidão é</p>
      <div class="container">
        <!-- <p class="jumbo-text">Soluções em Engenharia</p> -->
        <h1 class="display-3 "> ATITUDE!</h1>
      </div>
    </div>
    <!-- sobre o empresário -->
    <div class="container">
      <h2 class="text-center">Sobre o Empresário/Empresa</h2>
      <hr><br>
      <div class="row">
        <div class="founderImage col-md-4">
          <img id="imgFounder" src="assets/imgs/pp.jpg" alt="">
        </div>
        <div class="founderInfo col-md-8">
          <h3 class="text-center">Flavio Rego da <em>ATITUDE</em>  Soluções em Engenharia!</h3> <br>
          <div class="row">
            <div class="col-md-6">
              <h5 class="text-justify">A <b>Atitude</b> é uma empresa 
                no ramo da engenharia elétrica.
                Criada com objetivo de promover soluções energética a 
                sociedade 
                Acesso à energia sustentável infinita com alta tecnologia 
                e baixo custo 
                <!-- Projetos e execuções nos segmentos, promovendo 
                conforto e segurança aos clientes, tendo o prazer de 
                oferecer nossas soluções a todo --> <br> <br>
                Surgiu no desejo de ser empreendedor e o amor 
                a profissão!
                No tempo discutíamos sobre o poder de ter atitude, então
                resolvemos dedicar esse nome para a empresa <br>  
                O homem com fé e atitude realizará todos 
              seus objetivos!              
              </h5>   
            </div> 
            <div class="col-md-6">
              <h4>
              Técnico em mecatrônica </h4>
              <h4>Bacharel em engenharia elétrica </h4>
              <h4>Pós-Grraduando em engenharia elétrica </h4>
              <h4><em>Ênfase em Instalações Residenciais</em></h4>
            </div>
          </div>              
        </div>
      </div>
      <hr><br>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container primaryColor">
    <p>CREA: xxxxx</p>
    <p>E-mail: flavio@gmail.com</p>
    <p>Endereço: uma rua no piaui</p>
    <p>Telefone: (xx) xxxx-xxxx & (xx) xxxxx-xxxx</p>
  </footer>
