#imgCompany {
    max-width: 100%;
}

#imgFounder {
    max-width: 100%;
}
.jumbotron {
    padding: 14rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    background-image: url('../../assets/imgs/solar-power1-2000px.55-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -9rem;
}

.card {
    height: 20rem;
    width: 25rem;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.container > p {
    color: white;
}
.primaryColor {
    background-color: #041533;
    color: white;
}

.display-3 {
    color: #ffae00;
    font-size: 6rem;
    font-family: "Anton-Regular";
}

.jumbo-text {
    font-size: 3.5rem;
    font-family: "Fenix-Regular";
}
.secondaryColor {
    background-color: #ffae00;
}

.terciaryColor {
    background-color: #808080;
}

h5, h4 {
    font-family: "Fenix-Regular";
}

h1, h2, h3, b {
    font-family: "Fenix-Regular";
}

.jumbotron > p {
    color: white;
}

a {
    color: white !important;
}

a.nav-link {
    font-size: 1.3rem !important;
    font-family: "Fenix-Regular";
}

a.nav-link :hover {
    color: #ffae00 !important;
}

.navbar-center > img {
    max-width: 75px;
    max-height: 75px;
    margin-left: 34vw;
}

footer > p {
    display: inline;
    margin-left: 10px;
    font-family: "Fenix-Regular";
}

footer {
    max-width: 100%;
    padding-bottom: 0.5rem;
}

